body {
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    width: 90%;
    margin: auto;
    text-align: center;
}
.inputSentence {
    margin: 2em;
    padding: 1em;
    width: 70%;
    font-size: 1em;
    border-color: antiquewhite;
    background-color: lightblue;
    border-radius: 1em;
}
.wordCount {
    font-size: 2em;
}
.analyseBtn {
    background-color: skyblue;
    border-color: skyblue;
    padding: 1em;
    margin: 2em;
    font-size: 1em;
    box-shadow: 50%;
    border-radius: 1em;
}
h1 {
    text-align: center;
}
.hidden {
    visibility: hidden;
  }